/* GLOBAL - colors*/
:root {
    --white: #f2f1eb;
    --pure-black: #000000;
    --yellow: #ffbf00;
    --cyan: #00ffd3;
    --purple: #d300ff;
    --yellow-BG: #fdf6ce;
    --purple-BG: #ec93ff;
    --cyan-BG: #79ffe8;
}

html {
    scroll-behavior: smooth;
}

/* Typography */
body {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.highlight {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* add hr and sizes */

/*-------- Wrap container -----*/
.wrap {
    max-width: 780px;
    margin: 0 auto;
    padding: 10px;
}

/* wrap ends */

/* layout basics ----------------------------*/
.right {
    float: right;
}

.left {
    float: left;
}

/*header ------------------*/
.navbar {
    background-color: var(--yellow-BG);
    border-bottom: var(--pure-black) solid 1px;
    position: sticky;
    top: 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.nav-list li {
    float: left;
}

.primal-nav li {
    border-right: 1px solid;
    padding: 0 10px;

}

.nav-list li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--pure-black);
    font-family: "Inclusive Sans", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 0;
}

.nav-list li a:hover {}

/* responsive ------------------------*/

/* extra small */
/* wide screen or desktop */
@media screen and (min-width: 768px) {
    body {
        background-color: lightgreen;
    }
    .humburger-icon {
        display: none;
    }
}

/* tablets */
/* placeholder color */
@media screen and (max-width: 768px) {   
     body {
        background-color: lightgreen;
    }
    .primal-nav li:not(.humburger-icon) {
        display: none;
    }
    .primal-nav li {
        border: none;
    }    
    
}