/* GLOBAL - colors*/
:root {
  --white: #f2f1eb;
  --pure-black: #000000;
  --yellow: #ffbf00;
  --cyan: #00ffd3;
  --purple: #d300ff;
  --yellow-BG: #fdf6ce;
  --purple-BG: #ec93ff;
  --cyan-BG: #79ffe8;
}

html {
  scroll-behavior: smooth;
}

/* Typography */

